.AccountList {
    display: none;
    background-color: #2c97ad;
    color: white;
}

.AccountList__balance {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

@media screen and (min-width: 800px) {
    .AccountList {
        display: inline-block;
        min-width: 250px;
        height: 100vh;
        padding: 0;
    }
}
