.TransactionTable {
    width: 100%;
    border-collapse: collapse;
}

.TransactionTable__cell {
    border: 1px solid black;
    border-collapse: collapse;
}

.TransactionTable__cell--no-right-margin {
    border-left: none;
}

.TransactionTable__col--1 {
    width: 10%;
}

.TransactionTable__col--2 {
    width: 20%;
}

.TransactionTable__col--3 {
    width: 30%;
}

.TransactionTable__col--4 {
    width: 20%;
}

.TransactionTable__col--5 {
    width: 10%;
}

.TransactionTable__col--6 {
    width: 10%;
}