.Hero {
    margin: 50px 0;
    padding: 150px 0;
    color: #003540;
    background-color: #85c3e9;
    box-shadow: 0 1px 3px 0 gray;
    display: flex;
    justify-content: space-evenly;
}

.Hero__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.Hero__title-container__title {
    margin: 10px 0 0 0;
}

.Hero__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.Hero__button-container__button {
    margin: 10px;
    border-radius: 5px;
    background-color: #cedd3e;
    border: none;
    color: #003540;
    height: 60px;
    width: 150px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 10px;
}

.Hero__button-container__button:hover {
    cursor: pointer;
    background-color: #bfce3a;
}