.CategoryTable {
    width: 100%;
    border-collapse: collapse;
}

.CategoryTable__cell {
    border: 1px solid rgb(219, 221, 223);
    border-collapse: collapse;
    border-left: none;
}

.CategoryTable__cell--col-3 {
    display: none;
}

.CategoryTable__add {
    padding: 0 5px;
}

.CategoryTable__cell--col-1 {
    display: table-cell;
    width: 75%;
}

.CategoryTable__cell--col-2 {
    display: table-cell;
    width: 25%;
}

@media screen and (min-width: 800px) {
    .CategoryTable {
        width: 100%;
        border-collapse: collapse;
    }
    
    .CategoryTable__cell {
        border: 1px solid rgb(219, 221, 223);
        border-collapse: collapse;
        border-left: none;
    }

    .CategoryTable__cell--flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
