.CategoryTable {
    width: 100%;
    border-collapse: collapse;
}

.CategoryTable__cell {
    border: 1px solid black;
    border-collapse: collapse;
    border-left: none;
}

.CategoryTable__col--1 {
    width: 50%;
}

.CategoryTable__col--2 {
    width: 16.66%;
}

.CategoryTable__col--3 {
    width: 16.66%;
}

.CategoryTable__col--4 {
    width: 16.67%;
}