.AccountSummary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
}

.AccountSummary__menu__btn {
    border: none;
}

.AccountSummary__menu__btn:hover {
    cursor: pointer;
}

.AccountSummary__menu__btn:focus {
    outline: none;
}

.AccountSummary__add-transaction {
    border-radius: 5px;
    background-color: #56abbd;
    border: none;
    color: white;
    height: 25px;
    font-weight: bold;
    padding: 0 10px;
}

.AccountSummary__add-transaction:hover {
    cursor: pointer;
    background-color: #207181;
}

@media screen and (min-width: 800px) {
    .AccountSummary__menu {
        display: none;
    }
}