.BudgetSummary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    height: 50px;
}

.BudgetSummary__menu__btn {
    border: none;
}

.BudgetSummary__menu__btn:hover {
    cursor: pointer;
}

.BudgetSummary__menu__btn:focus {
    outline: none;
}

@media screen and (min-width: 800px) {
    .BudgetSummary__menu {
        display: none;
    }
}