.SubcategoryRow__cell {
    padding: 5px 0;
}

.SubcategoryRow__cell--col-1 {
    padding-left: 10px;
}

.SubcategoryRow__delete {
    display: none;
    padding: 0 5px;
}

.SubcategoryRow__cell--col-1:hover .SubcategoryRow__delete {
    display: inline;
}