.AddCategoryForm {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 50px auto;
    padding: 20px;
}

.AddCategoryForm__title {
    margin: 0;
    padding-bottom: 10px;
}

.AddCategoryForm__user-inputs {
    display: flex;
    flex-direction: column;
}

.AddCategoryForm__user-input {
    background: #EDEFF0;
    border-radius: 4px;
    border: 1px solid #CDD2D4;
    box-sizing: border-box;
    margin: 4px 0 5px 0;
    padding: .5em;
    max-width: 400px;
    width: 100%;
}

.AddCategoryForm__buttons {
    display: flex;
    flex-direction: column-reverse;
}

.AddCategoryForm__buttons__add {
    border-radius: 5px;
    background-color: #16a336;
    border: none;
    color: white;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    padding: 0 10px;
    width: 100%;
}

.AddCategoryForm__buttons__add:hover {
    cursor: pointer;
    background-color: #12862d;
}

button:disabled {
    border-radius: 5px;
    background-color: grey;
    border: none;
    color: white;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    padding: 0 10px;
    width: 100%;
}

button:disabled:hover {
    border-radius: 5px;
    background-color: grey;
    border: none;
    color: white;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    padding: 0 10px;
    width: 100%;
}