.TransactionRow {
    width: 100%;
    border-collapse: collapse;
    font-size: .95rem;
}

.TransactionRow__cell {
    border: 1px solid rgb(219, 221, 223);
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    padding: 5px 5px;
}

.TransactionRow__cell--no-right-margin {
    border-left: none;
}

.TransactionRow__cell__col-1 {
    margin-left: 20px;
}

.TransactionRow__cell__col-2 {
    display: none;
}

.TransactionRow__cell__col-4 {
    display: none;
}

.TransactionRow__delete {
    padding-right: 5px;
    position: relative;
    display: none;
}

.TransactionRow:hover .TransactionRow__delete {
    display: inline;
}

@media screen and (min-width: 800px) {
    .TransactionRow {
        width: 100%;
        border-collapse: collapse;
    }
    
    .TransactionRow__cell {
        border: 1px solid rgb(219, 221, 223);
        border-collapse: collapse;
        border-left: none;
        border-right: none;
    }
    
    .TransactionRow__cell--no-right-margin {
        border-left: none;
    }

    .TransactionRow__cell__col-2 {
        display: table-cell;
    }
    
    .TransactionRow__cell__col-4 {
        display: table-cell;
    }
}